# Build directories
firmware/build/
firmware/build_host/
firmware/build_nrf52840_mdk/
firmware/build_promicro_nrf52840/
firmware/build_promicro_nrf52840_nrf52840_uf2/
firmware/tests/build_host/
app/build/

# Configuration
scripts/build.env
build.env

# Python/Zephyr environment
.venv/
__pycache__/
*.pyc

# Datasheets and Proprietary Specifications
docs/**/*.pdf
!docs/gesture_logic.md

