/*
 * Overlay for Pro Micro nRF52840
 *
 * Pin Mapping:
 *   - D5 (Trigger P5):  P0.xx
 *   - D4 (Trigger P4):  P0.xx
 *   - D7 (Encoder Mute): P0.xx
 *   - D2, D3 (QDEC A/B): P0.xx / P0.xx
 *   - D6 (Buzzer):      P0.xx
 */

#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/adc/nrf-saadc.h>

/ {
	chosen {
		sw0 = &button0;
		buzzer = &pwm_buzzer0;
		qdec0 = &qdec0;
	};

	leds {
		compatible = "gpio-leds";
		led_red: led_0 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
	};

	aliases {
		led0 = &led_red;
		led1 = &led_red;
		led2 = &led_red;
		sw0 = &button0;
		sw1 = &button2;
		buzzer = &pwm_buzzer0;
		qdec0 = &qdec0;
	};

	pwm_buzzers {
		compatible = "pwm-leds";
		pwm_buzzer0: pwm_buzzer_0 {
			pwms = <&pwm0 0 PWM_HZ(4000) PWM_POLARITY_NORMAL>;
			label = "PWM Buzzer";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; /* D5 -> P0.20 */
			label = "Trigger 1";
			zephyr,code = <INPUT_KEY_0>;
		};
		button1: button_1 {
			gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; /* D4 -> P0.17 */
			label = "Trigger 2";
			zephyr,code = <INPUT_KEY_1>;
		};
		button2: button_2 {
			gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; /* D7 -> P0.24 */
			label = "Encoder Mute";
			zephyr,code = <INPUT_KEY_2>;
		};
	};
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
		zephyr,input-positive = <NRF_SAADC_VDD>; /* Default VDD measurement */
		zephyr,resolution = <10>;
	};
};

&qdec0 {
	status = "okay";
	pinctrl-0 = <&qdec_default>;
	pinctrl-1 = <&qdec_sleep>;
	pinctrl-names = "default", "sleep";
	steps = <24>;
	led-pre = <0>;
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default_buzzer>;
	pinctrl-1 = <&pwm0_sleep_buzzer>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	pwm0_default_buzzer: pwm0_default_buzzer {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 22)>; /* D6 -> P0.22 */
			nordic,drive-mode = <NRF_DRIVE_H0H1>;
		};
	};

	pwm0_sleep_buzzer: pwm0_sleep_buzzer {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 22)>;
			low-power-enable;
		};
	};

	qdec_default: qdec_default {
		group1 {
			psels = <NRF_PSEL(QDEC_A, 0, 10)>,  /* D2 -> P0.10 */
				<NRF_PSEL(QDEC_B, 1, 11)>;  /* D3 -> P1.11 */
			bias-pull-up;
		};
	};

	qdec_sleep: qdec_sleep {
		group1 {
			psels = <NRF_PSEL(QDEC_A, 0, 10)>,
				<NRF_PSEL(QDEC_B, 1, 11)>;
			bias-pull-up;
			low-power-enable;
		};
	};
};
