/*
 * Device tree overlay for nRF52840 MDK USB Dongle Camera Remote
 *
 * Board default DTS already defines:
 *   - LEDs: led0 (Green P0.22), led1 (Red P0.23), led2 (Blue P0.24)
 *   - pwm0: Channels 0/1/2 for RGB LEDs
 *   - button0: P1.00 (not physically present on USB dongle)
 *
 * This overlay:
 *   - Overrides sw0/button0 to P0.05 (external trigger)
 *   - Adds button1 on P0.04 (secondary trigger)
 *   - Uses pwm1 (NOT pwm0) for the buzzer on P0.02
 *   - Disables UART0 to free P0.05 (used as RTS by default)
 */

/ {
	aliases {
		sw0 = &button0;
		buzzer = &pwm_buzzer0;
	};

	pwm_buzzers {
		compatible = "pwm-leds";
		pwm_buzzer0: pwm_buzzer_0 {
			pwms = <&pwm1 0 PWM_HZ(4000) PWM_POLARITY_NORMAL>;
			label = "PWM Buzzer";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "P5 Trigger";
			zephyr,code = <INPUT_KEY_0>;
		};
		button1: button_1 {
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "P4 Trigger";
			zephyr,code = <INPUT_KEY_1>;
		};
	};
};

/* Disable UART0 to free P0.05 (board default uses it as UART_RTS) */
&uart0 {
	status = "disabled";
};

/* Use pwm1 for the buzzer (pwm0 is used by the board for RGB LEDs) */
&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 2)>;
			nordic,drive-mode = <NRF_DRIVE_H0H1>;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 2)>;
			low-power-enable;
		};
	};
};
